.book-brand {
  text-align: center;
  a {
    img {
      margin: 0 auto;
      height: 135px;
      display: block;
    }
    span {
      display: block;
    }
  }
}

.markdown blockquote {
  border-left: .25rem solid rgb(243, 230, 115);
  background-color: #fefced;
  padding-left: 2rem;
}
